@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Lora:wght@400;500&family=Noto+Serif+KR:wght@500&display=swap");

#root {
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
  font-size: 26px;
}

body {
  margin: 0;
}

.App {
  min-height: 100vh;
  background-color: white;
  box-shadow: 0px 0px 10px 1px #444;
}

.DiaryEditor {
  min-width: fit-content;
  width: 700px;
  text-align: center;
  padding: 30px 0;
}

.DiaryEditor input {
  width: 500px;
  margin: 20px;
  padding: 10px;
  outline: none;
  border-radius: 8px;
  border: rgb(231, 230, 229) solid 1px;
}

.DiaryEditor textarea {
  width: 500px;
  margin: 20px;
  padding: 10px;
  height: 150px;
  resize: none;
  outline: none;
  border-radius: 8px;
  border: rgb(231, 230, 229) solid 1px;
}

.DiaryEditor select {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  border: rgb(231, 230, 229) solid 1px;
}

.DiaryList {
  max-width: 700px;
}

.DiaryList h2,
h4 {
  text-align: center;
}

.DiaryItem {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f6f6f6;
  animation: slidein 1s;
}

.DiaryItem textarea {
  resize: none;
  outline: none;
  height: fit-content;
  border-radius: 8px;
  border: none solid 1px;
}

.DiaryItem p {
  margin: 2px;
}

.DiaryItem button {
  margin: 5px;
}

.title_info,
.emotion_info {
  margin: 10px;
  font-weight: bold;
}

.content_info {
  margin: 10px 3px 12px 3px;
}

.content_info textarea {
  width: 100%;
  height: 150px;
}

.modal-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
